{% extends 'base.html' %}

{% block main %}
    <h1>Listagem de Vendas</h1> <br/>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Número</th>
              <th scope="col">Desconto</th>
              <th scope="col">Valor</th>
              <th scope="col" style="text-align: center">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in object_list %}
                <tr>
                    <td>{{ sale.id }}</td>
                    <td>{{ sale.number }}</td>
                    <td>{{ sale.discount }}</td>
                    <td>{{ sale.value }}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{% url 'edit-order' sale.id %}">
                                    <i class="material-icons">edit</i>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a onclick="deleteSale({{ sale.id }})">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block content %}
    <script type="text/javascript">
        function deleteSale(sale) {
            let confir = confirm('Tem certeza que deseja deletar a venda: ' + sale);
            if (confir) {
                jqueryRedirect(sale)
            }
        }
        function jqueryRedirect(sale) {
            let django_url = 'http://localhost:8000/vendas/deletar-venda';
            let complete_url = django_url + '/' + sale;
            $.ajax({
                url: complete_url,
                type: 'GET',
                success: function () {
                    location.reload(true);
                }
            });
        }
    </script>
{% endblock %}