{% extends 'base_new.html' %}
{% block title_page %}
    Listagem de Vendas
{% endblock %}
{% block main %}
    <table class="responsive-table centered">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Número</th>
              <th scope="col">Desconto</th>
              <th scope="col">Valor</th>
              <th scope="col" style="text-align: center">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in object_list %}
                <tr>
                    <td>{{ sale.id }}</td>
                    <td>{{ sale.number }}</td>
                    <td>{{ sale.discount }}</td>
                    <td>{{ sale.value }}</td>
                    <td>
                        <div class="row">
                            <div class="col s4"></div>
                            <div class="col s2">
                                <a href="{% url 'edit-order' sale.id %}">
                                    <i class="material-icons">edit</i>
                                </a>
                            </div>
                            <div class="col s2">
                                <a onclick="deleteSale({{ sale.id }})" style="color: red">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                            <div class="col s4"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn-floating btn-large waves-effect waves-light red"
       style="position: fixed; bottom: 10px; right: 10px"
       href="{% url 'new-order' %}"
    ><i class="material-icons">add</i></a>
{% endblock %}

{% block modals %}
    <div id="modal1" class="modal">
        <div class="modal-content" style="padding: 0">
            <div style="background: #EE6E73; color: #ffffff; padding: 24px; text-align: center">
                <h4 style="margin: 0;">Atenção</h4>
            </div>
            <div style="padding: 24px">
                <h5>Tem certeza que deseja deletar a venda número: <span id="modal-span"></span>?</h5>
                <time>Essa operação não poderá ser desfeita</time>
            </div>
            <input type="hidden" id="id_sale_input">
        </div>
        <div class="modal-footer" style="height: auto">
            <a href="#" class="modal-close waves-effect waves-teal btn" style="background: grey">
                Cancelar<i class="material-icons right">cancel</i>
            </a>
            <a onclick="jqueryRedirect()"
               class="waves-effect waves-yellow btn" style="background: #F44336">
                Apagar<i class="material-icons right">delete</i>
            </a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        M.AutoInit();
        function deleteSale(sale) {
            $('#modal-span').text(sale);
            $('#id_sale_input').val(sale);
            $('#modal1').modal('open');
        }
        function jqueryRedirect() {
            let django_url = 'http://localhost:8000/vendas/deletar-venda';
            sale = $('#id_sale_input').val();
            let complete_url = django_url + '/' + sale;
            $.ajax({
                url: complete_url,
                type: 'GET',
                success: function () {
                    $('#modal1').modal('close');
                    location.reload();
                }
            });
        }
    </script>
{% endblock %}
