{% extends 'base_new.html' %}
{% block title_page %}
    Novo Pedido
{% endblock %}
{% block main %}

    <div class="row">
        <form class="col s12" method="POST" action="{% url 'new-order' %}">
            {% csrf_token %}
            <input type="hidden" value="{{ venda.obj.id }}" name="venda_id">
            <div class="row">
                <div class="input-field col s6">
                    <input type="number" name="numero" id="id-number" class="validate" value="{{ venda_obj.number }}">
                    <label for="id-number">Número</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" name="desconto" id="id-discount" class="validate" value="{{ venda_obj.discount }}">
                    <label for="id-discount">Desconto</label>
                </div>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    {% if not venda_obj %}
                        Cadastrar
                    {% else %}
                        Atualizar
                    {% endif %}
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col s6 center">
                <h5>Valor Total: R${{ venda_obj.value }}</h5>
            </div>
            <div class="col s6 center">
                <h5>Desconto R$: {{ venda_obj.discount }}</h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra %}
    {% if venda_obj %}
        <div class="row">
            <form action="{% url 'new-order-item' venda_obj.id %}" method="POST" class="col s12">
                {% csrf_token %}
                <div class="row">
                    {% for field in form_item %}
                        <div class="input-field col s4">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Adicionar
                    <i class="material-icons right">send</i>
                </button>
                </div>
            </form>
        </div>
        <div style="border-bottom: 1px solid rgba(0,0,0,0.14); height: 90px">
            <div class="container">
                <div class="nav-wrapper">
                    <div class="row">
                        <div class="col s12 m10 offset-m1 center">
                            <h2 style="color: #ee6e73; font-weight: 300; margin-top: 13px">
                                Listagem de itens
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Desconto</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itens %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.product.description }}</td>
                        <td>{{ item.quantities }}</td>
                        <td>{{ item.discount }}</td>
                        <td>
                            <div class="row">
                                <div class="col s4"></div>
                                <div class="col s2">
                                    <a href="{% url 'edit-order-modal' venda_obj.id item.id %}">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </div>
                                <div class="col s2">
                                    <a onclick="deleteOrder({{ item.id }}, '{{ item.product.description }}')"
                                       style="color: #F44336">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </div>
                                <div class="col s4"></div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block modals %}
    <div id="modal1" class="modal">
        <div class="modal-content" style="padding: 0">
            <div style="background: #EE6E73; color: #ffffff; padding: 24px; text-align: center">
                <h4 style="margin: 0;">Atenção</h4>
            </div>
            <div style="padding: 24px">
                <h5>Tem certeza que deseja deletar o item: <span id="modal-span"></span>?</h5>
                <time>Essa operação não poderá ser desfeita</time>
            </div>
            <input type="hidden" id="id_order_input">
        </div>
        <div class="modal-footer" style="height: auto">
            <a href="#" class="modal-close waves-effect waves-teal btn" style="background: grey">
                Cancelar<i class="material-icons right">cancel</i>
            </a>
            <a onclick="jqueryRedirect()"
               class="waves-effect waves-yellow btn" style="background: #F44336">
                Apagar<i class="material-icons right">delete</i>
            </a>
        </div>
    </div>
    {% block modal_template %} {% endblock %}
{% endblock %}

{% block scripts %}
    <script>
        M.AutoInit();
        function deleteOrder(sale, item) {
            $('#modal-span').text(item);
            $('#id_order_input').val(sale);
            $('#modal1').modal('open');
        }
        function jqueryRedirect() {
            let django_url = 'http://localhost:8000/vendas/deletar-order';
            let order = $('#id_order_input').val();
            let complete_url = django_url + '/' + order;
            $.ajax({
                url: complete_url,
                type: 'GET',
                success: function () {
                    location.reload();
                    $('#modal1').modal('close');
                }
            });
        }
    </script>
{% endblock %}
