

<body>
<h1>Person Detail</h1>
<p>
    Nome: {{ object.first_name }} <br/>
    Sobrenome: {{ object.last_name }} <br/>
    Idade: {{ object.age }} <br/>
    Bio: {{ object.bio|linebreaksbr }} <br/>
</p>

<h2>Vendas</h2>
{% for sale in sales %}
    <p>Venda id: {{ sale.id }}</p>
    <h3>Lista de produtos</h3>
    <ul>
        {% for produto in sale.produtos.all %}
            <li>{{ produto.id }} - {{ produto.descricao }}</li>
        {% endfor %}
    </ul>
{% endfor %}


<p>Acesso em: <time>{{ now }}</time></p>
</body>
