{% extends 'base_new.html' %}
{% load materializecss %}
{% block title_page %}
    Cadastro de Cliente
{% endblock %}
{% block main %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        {{ form.first_name|materializecss:'custom_size=m6' }}
        {{ form.last_name|materializecss:'custom_size=m6' }}
    </div>
    <div class="row">
        {{ form.age|materializecss:'m6' }}
        {{ form.salary|materializecss:'m6' }}
    </div>
    <div class="row">
        {{ form.bio|materializecss }}
    </div>
    <div class="row">
        {{ form.photo|materializecss }}
    </div>

    <div class="row center">
        <button class="btn waves-effect waves-light" type="submit" name="action">
            {% if update %}
                Atualizar
            {% else %}
                Cadastrar
            {% endif %}
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>
{% endblock %}
